/.env
/.env.development
/.env.production
/.env.staging

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules/
/coverage
/dist
/dist-ssr
*.local
.DS_Store

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
/.idea
/.vscode/*
!/.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
